.checkout-nav {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-right: 200px;
    padding-bottom: 24px;
    padding-left: 200px;
    background: #FFFFFF;
}

.checkout-back {
    display: none;
}


.checkout-container {
    background: #F8F9F8;
    padding: 40px;
}

.checkout-bread {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-btn {
    width: 85px;
    height: 48px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #406D41;
    outline: none;
    appearance: none;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #0F420F;
    background: transparent;
    cursor: pointer;
}

.checkout-section {
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: center;
}

.checkout-flex {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.checkout-flex h2 {
    font-family: "Arima";
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #555555;
}

.input-container {
    width: 537px;
    height: 386px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    padding: 40px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #EAEBEA;
    box-shadow: 0px 2px 50px 7px #0B280B14;
}

.checkout-main {
    width: 602px;
    height: 707px;
    border-radius: 16px;
    border-top-width: 1px;
    padding: 40px;
    background: #FFFFFF;
    border-top: 1px solid #EAEBEA;
    box-shadow: 0px 2px 50px 7px #0B280B14;
    margin-top: 120px;
}

.names {
    display: flex;
    align-items: center;
    gap: 20px;
}

.names input {
    width: 217px;
    height: 56px;
    border-radius: 4px;
    padding: 16px;
    border-width: 0.6px;
    background: #F8F9F8;
    border: 0.6px solid #91AB92;
    margin-top: 10px;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email input {
    width: 457px;
    height: 56px;
    border-radius: 4px;
    padding: 16px;
    background: #F8F9F8;
    border: 0.6px solid #91AB92;
}

.payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-select {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #2B313A;
}

.payment-select:valid {
    width: 457px;
    height: 56px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 16px;
    border-radius: 4px;
    background: #F8F9F8;
    border: 0.6px solid #91AB92;
}

.input-container label {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #3A3939;
}

.input-container input::placeholder,
.input-container option {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #3A3939;
}

.checkout-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.program-row h4 {
    font-family: "Arima";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #606260;
}

.cart-price {
    margin-top: 10px;
}

.old-price {
    font-family: "Manrope";
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: #606260;
    margin-left: 15px;
}

.new-price {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #606260;
}

.qty-control {
    width: 144px;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-width: 0.5px;
    background: #F8F9F8;
    border: 0.5px solid #EAEBEA;
    margin-top: 18px;
}

.qty-control button {
    color: #595D59;
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

.quantity {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #606260;
}

.coupon-section {
    width: 522px;
    height: 150px;
    border-radius: 8px;
    padding: 16px;
    background: #F8F9F8;
    margin-top: 15px;
}

.coupon-section p {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #606260;
}

.coupon-link {
    width: 107px;
    height: 40px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    cursor: pointer;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #104911;
}

.coupon-container label {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #3A3939;
}

.coupon-input {
    margin-top: 10px;
}

.coupon-input input {
    width: 364px;
    height: 48px;
    border-radius: 4px;
    padding: 16px;
    border-width: 0.6px;
    background: #F8F9F8;
    border: 0.6px solid #91AB92;
}

.coupon-input input::placeholder {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #3A3939;
}

.coupon-btn {
    width: 110px;
    height: 48px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: #104911;
    border: none;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 10px;
    color: #FAFCFA;
}

.total-row {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-width: 1px;
    border-bottom: 1px solid #EAEBEA;
}

.total-row-grand {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-width: 1px;
}

.cartt {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #606260;
}

.cartt-amt {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #606260;
}

.pay-now-btn {
    width: 522px;
    height: 48px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: #104911;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFCFA;
    border: none;
    cursor: pointer;
}

.pay-amt {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFCFA;
}

.pay-arrw {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

@media (max-width:768px) {
    .checkout-container {
        padding: 10px;
        height: auto;
    }

    .checkout-nav {
        display: flex;
        gap: 200px;
        align-items: center;
        padding-inline: 10px;
    }

    .checkout-back {
        display: inline;
    }

    .checkout-back img {
        width: 32px;
        height: 32px;
    }

    .checkout-logo {
        width: 100px;
        height: 23px
    }

    .checkout-bread {
        display: none;
    }

    .checkout-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .checkout-flex {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 16px;
    }

    .checkout-flex h2 {
        font-size: 24px;
    }

    .input-container {
        width: 350px;
        height: 402px;
        border-radius: 16px;
        border-width: 1px;
        padding: 12px;
    }

    .names {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: start;
    }

    .fname,
    .lname {
        display: flex;
        flex-direction: column;
    }

    .names input,
    .email input,
    .payment-select:valid {
        width: 325px;
        height: 48px;
        max-height: 48px;
        padding: 12px;
    }

    .payment-select:valid {
        padding-block: 10px;
        padding-inline: 12px;
    }

    .input-container label {
        font-size: 12px;
        line-height: 20px;
    }

    .input-container input::placeholder,
    .input-container option,
    .payment-select {
        font-size: 14px;
        line-height: 22px;
    }

    .checkout-main {
        width: 354px;
        height: 556px;
        padding: 16px;
        margin-top: 12px;
    }

    .checkout-card {
        gap: 16px;
    }

    .program-row h4 {
        font-size: 16px;
        line-height: 100%;
    }

    .cart-price {
        margin-top: 8px;
    }


    .new-price {
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 32px;
    }

    .old-price {
        font-size: 20px;
        line-height: 32px;
    }

    .qty-control {
        width: 112px;
        height: 48px;
        gap: 22px;
        padding-top: 8px;
        padding-right: 17px;
        padding-bottom: 8px;
        padding-left: 17px;
        margin-top: 10px;
    }

    .coupon-section {
        width: 323px;
        height: 186px;
        border-radius: 8px;
        padding: 16px;
        margin-top: 8px;
    }

    .coupon-section p {
        font-size: 14px;
    }

    .coupon-link {
        width: 81px;
        height: 38px;
        max-height: 48px;
        padding: 8px;
        font-size: 14px;
        line-height: 22px;
    }

    .coupon-container label {
        font-size: 12px;
        line-height: 20px;
    }

    .coupon-input {
        margin-top: 8px;
    }

    .coupon-input input {
        width: 300px;
        height: 48px;
        max-height: 48px;
        padding: 16px;
    }

    .coupon-input input::placeholder {
        font-size: 14px;
        line-height: 22px;
    }

    .coupon-btn {
        width: 90px;
        height: 38px;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
    }

    .total-row,
    .total-row-grand {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .cartt {
        font-size: 14px;
        line-height: 24px;
    }

    .cartt-amt {
        font-size: 16px;
        line-height: 32px;
    }

    .pay-now-btn {
        width: 332px;
        height: 48px;
        max-height: 48px;
        border-radius: 4px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 22px;
    }
}


@media (max-width: 430px) {
    .checkout-container {
        padding: 13px;
    }

    .input-container {
        width: 394px;
    }

    .names input,
    .email input,
    .payment-select:valid {
        width: 358px;
    }

    .checkout-main {
        width: 394px;
    }

    .coupon-section {
        width: 360px;
    }

    .coupon-input input {
        width: 305px;
    }

    .pay-now-btn {
        width: 345px;
    }
}

@media (max-width: 390px) {

    .input-container {
        width: 354px;
    }

    .names input,
    .email input,
    .payment-select:valid {
        width: 318px;
    }

    .checkout-main {
        width: 354px;
    }

    .coupon-section {
        width: 325px;
    }

    .coupon-input input {
        width: 275px;
    }

    .pay-now-btn {
        width: 315px;
    }
}

@media (max-width: 375px) {

    .input-container {
        width: 354px;
    }

    .names input,
    .email input,
    .payment-select:valid {
        width: 318px;
    }

    .checkout-main {
        width: 354px;
    }

    .coupon-section {
        width: 325px;
    }

    .coupon-input input {
        width: 275px;
    }

    .pay-now-btn {
        width: 315px;
    }
}


@media (max-width: 360px) {
    .input-container {
        width: 340px;
    }

    .names input,
    .email input,
    .payment-select:valid {
        width: 300px;
    }

    .checkout-main {
        width: 340px;
    }

    .coupon-section {
        width: 310px;
    }

    .coupon-input input {
        width: 270px;
    }

    .pay-now-btn {
        width: 300px;
    }
}