.faq-section {
  padding: 60px 10px;
  background: #f6fdf6;
}

.faq-section-content {
  display: flex;
  justify-content: space-between;
}

.faq-section-content h3 {
  font-family: "Manrope";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #151B17;
}

.faq-section-left{
  padding-left: 30px;
}

.faq-section-content h2 {
  font-family: "Arima";
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: #606260;
}

.faq-section-right p {
  font-family: "Manrope";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #111511;
  width: 567px;
}

.contact-btn {
  width: 155px;
  height: 52px;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #406D41;
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 28px;
  color: #0F420F;
  background: transparent;
  margin-top: 30px;
  cursor: pointer;
}

.faq-section .faq-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.faq-section  .arrow-btn {
  background: #FACB33;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  color: #555;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border-width: 0.5px;
}

.faq-section .arrow-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  background: transparent;
}

.faq-section .faq-cards {
  display: flex;
  gap: 10px;
  scroll-behavior: smooth; 
}

.faq-section .faq-card {
  background: #FEFCF9;
  border-radius: 10px;
  width: 400px;
  height: 327px;
  padding: 24px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  flex-shrink: 0;
}

.faq-section .faq-card:hover {
  background: #EDF9E6;
  box-shadow: -5px 10px 20px 0px #1049111A;
}

.faq-section .faq-number {
  font-family: "Arima";
  font-weight: 400;
  font-style: Regular;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #895B12;
}

.faq-section .faq-card:hover .faq-number {
  font-size: 32px;
}

.faq-section .faq-question {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #333;
  margin-top: 60px;
  transition: transform 0.3s ease;
}

.faq-section .faq-card:hover .faq-question {
  transform: translateY(-30px);
}

.faq-section .faq-answer {
  font-size: 16px;
  color: #444;
  margin-top: 22px;
  opacity: 0;
  max-height: 0;
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
}

.faq-section .faq-card:hover .faq-answer {
  opacity: 1;
  max-height: 120px;
  transform: translateY(10px);
}

.faq-section .faq-dots {
  margin-top: 20px;
  text-align: center;
}

.faq-section .faq-dots .dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #EEEFEE;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.faq-section .faq-dots .dot.active {
  background: #F9A620;
}


.desktop-only {
  display: block;
}


.faq-dots-wrapper-mobile {
  display: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1028px) {
  
}
@media screen and (max-width: 768px) {
  .faq-section {
    padding: 40px 20px;
  }

  .faq-section-content {
    flex-direction: column;
  }

  .faq-section-content h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 20px;
  }

  .faq-section-left{
    padding-left: 0px;
  }

  .faq-section-content h2 {
    font-size: 28px;
    line-height: 40px;
    margin-top: 20px;
  }

  .faq-section-content p {
    font-size: 16px;
    line-height: 100%;
    width: 100%;
    margin-top: 15px;
  }

  .contact-btn {
    margin-top: 15px;
    width: 100%;
    max-width: 350px;
    height: 48px;
    border-radius: 4px;
    padding: 12px 16px;
  }

  .faq-carousel {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }

  .faq-cards {
    flex-wrap: nowrap;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;
  }

  .faq-card {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    height: auto;
    background: #FEFCF9;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

  .faq-card:hover {
    background: #EDF9E6;
    box-shadow: -5px 10px 20px 0px #1049111A;
  }

  .faq-number {
    font-size: 128px;
  }

  .faq-card:hover .faq-number {
    font-size: 32px;
  }

  .faq-question {
    font-size: 18px;
    margin-top: 40px;
    transition: transform 0.3s ease;
  }

  .faq-card:hover .faq-question {
    transform: translateY(-8px);
  }

  .faq-answer {
    font-size: 16px;
    color: #444;
    margin-top: 35px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-family: "Manrope";
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
  }

  .faq-card:hover .faq-answer {
    opacity: 1;
    max-height: 190px;
    transform: translateY(10px);
  }

  .faq-card:hover .faq-number {
    color: #2B6A01;
  }

  .arrow-btn {
    width: 40px;
    height: 40px;
  }

  .faq-carousel .arrow-btn-wrapper {
    display: none;
  }

  .faq-dots-wrapper-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .desktop-only {
    display: none;
  }

  .faq-dots {
    margin: 0;
  }
}
