.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1728px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-top: 55px;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-logo-container .logo {
  width: 26px;
  height: 26px;
}

.nav-logo-container h1 {
  color: #104911;
  font-size: 24px;
  font-family: "Manrope";
  font-weight: 800;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-item a {
  color: #414441;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.nav-item a.active {
  color: #0F420F;
  font-weight: 600;
  border-bottom: 2px dotted #4EC002;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  background-color: white;
  min-width: 160px;
  width: 50vw;
  max-width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 6px;
  border: 0.5px solid #ccc;
  padding: 10px 0;
  z-index: 100;
  text-align: center;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  list-style: none;
}

.dropdown-menu li a {
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  color: #414441;
  display: block;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.nav-btn {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #104911;
  cursor: pointer;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #0d390d;
}

.menu-icon {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10001;
  cursor: pointer;
}

.menu-icon img {
  width: 28px;
  height: 28px;
}

.nav-links .mobile-btn {
  display: none;
}

.nav-btn.disabled {
  background: #595D59;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}



@media (max-width: 768px) {
  .menu-icon {
    display: block;
    border-radius: 50%;
    background: #E7EDE7;
    width: 38px;
    height: 38px;
    padding: 5px;
  }

  .nav-links {
    display: none !important;
    flex-direction: column;
    background-color: #FAFCFAF9;
    position: absolute;
    top: 100%;
    right: 0; 
    width: 78%;
    padding: 10px 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 998;
    align-items: flex-end; 
    text-align: left;
    gap: 18px;
  }

  .nav-links.open {
    display: flex !important;
  }

  .nav-item {
    text-align: left;
    margin: 8px 0;
    width: 100%;
  }

  .nav-links .mobile-btn {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .nav-links .mobile-btn .nav-btn {
    width: 100%;
  }

  .nav-logo-container {
    margin-top: 10px;
  }

  .nav-logo-container .logo {
    width: 20px;
    height: 20px;
  }

  .nav-logo-container h1 { 
    font-size: 20px;
  }

  .nav-btn-container {
    display: none;
  }

  .navbar {
    height: 70px;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
    margin-top: 45px;
  }

  .dropdown-menu {
    width: 50vw;
    max-width: 300px;
    left: 40px;
    transform: translate(0, 10px); 
  }
}

