.announcement-bar {
  width: 100%;
  background-color: #FDEFC0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 70px;
  display: flex;
  align-items: center;
}

.scroll-text {
  display: flex;
  animation: scroll-left 300s linear infinite;
  white-space: nowrap;
  align-items: center;
  padding-bottom: 10px;
}

.scroll-text::after {
  content: '';
  display: block;
  width: 100%;
}

.scroll-item {
  display: flex;
  align-items: center;
  margin-right: 100px;
  flex-shrink: 0;
  text-decoration: none;
}

.scroll-item:hover {
  opacity: 0.8; 
}


.scroll-item img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.scroll-item h2 {
    font-family: "Kanit";
    font-weight: 600;
    font-style: Italic;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B302B;
}

.scroll-item p {
    font-family: "Kanit";
    font-weight: 400;
    font-style: Italic;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B302B;
    margin-left: 5px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .scroll-item h2 {
    font-size: 16px;
  }

  .scroll-item p {
    font-size: 14px;
    margin-top: 4px;
  }

  .scroll-item img {
    height: 20px;
    width: 20px;
  }

  .scroll-item {
    margin-right: 60px;
  }

  .announcement-bar {
    height: 60px;
  }
}



