.tech-section {
    width: 100%;
}

.tech-section-container {
    height: 899px;
    background: #FEFCF9;
    position: relative;
}

.tech-hero-left,
.tech-hero-left-one {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}

.tech-hero-right {
    text-align: right;
    padding: 40px;
}

.feature-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    margin-top: 160px;
}

.feature-list li {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #111511;
    position: relative;
}

.feature-list li::before {
    content: "";
    position: absolute;
    transform: translateY(15%);
    transform: translateX(-125%);
    width: 16px;
    height: 16px;
    background-image: url('../../assets/dots.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.tech-hero-left h1 {
    font-family: "Arima";
    font-weight: 500;
    font-style: Medium;
    font-size: 68px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #555555;
    margin-top: 20px;
}

.tech-hero-left-one h1 {
    font-family: "Arima";
    font-weight: 500;
    font-style: Medium;
    font-size: 68px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #555555;
    margin-top: 220px;
}

.tech-hero-left,
.tech-hero-left-one p {
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333;
}


.tech-hero-btn {
    width: 194px;
    height: 48px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFCFA;
    background: #104911;
    margin-top: 10px;
}

.tech-hero-btn:hover {
    background: #06631f;
}

.tech-hero-right img {
    width: 100%;
    border-radius: 10px;
    width: 960px;
    height: 700px;
    position: absolute;
    top: 197px;
    right: 5px;
}

.tech-hero-testimonial {
    background: #F6FBFC;
    height: 147px;
    display: flex;
    gap: 20px;
}

.test-bottom,
.test-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.first-test {
    width: 550px;
    height: 66px;
    background-image: url('/assets/orange.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 14px;
    animation: slide-left 8s linear infinite;
}

.second-test {
    width: 550px;
    height: 66px;
    background-image: url('/assets/green2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 14px;
    animation: slide-left 15s linear infinite;
}

.third-test {
    width: 550px;
    height: 66px;
    background-image: url('/assets/sky.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 18px;
    animation: slide-left 6s linear infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}


.avatar {
    height: 60px;
}

.test-text {
    width: 323px;
    height: 58px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    background: #FFFAEB;
}

.first-test,
.second-test,
.third-test,
.fourth-test p {
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2F352F;
}



.fade-slide {
    animation: fadeSlide ease;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dots */
.tech-hero-dots {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dot {
    width: 13px;
    height: 13px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: #0a7a2a;
    transform: scale(1.2);
}

.tech-programs {
    background: #F6FCF2;
    height: 1170px;
    padding: 40px;
}

.programs-text {
    display: flex;
    justify-content: space-between;
}

.programs-text h1 {
    font-family: "Arima";
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #606260;
}

.programs-text p {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    color: #111511;
}

.tech-program-details {
    background: #F5F6F5;
    width: 1270px;
    height: 950px;
    margin-top: 30px;
}

.tech-program-navbar {
    width: 1270px;
    height: 76px;
    border-bottom-width: 1px;
    background: #FFFFFF;
    border-bottom: 1px solid #E8E7E7;
}

.tech-program-nav {
    height: 76px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    list-style: none;
    cursor: pointer;
}

.tech-program-nav li {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #606260;
    position: relative;
}

.tech-program-nav li.active::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 120%;
    background: #179716;
    border-radius: 2px;
    top: 45px;
    left: -1%;
}

.cohort {
    width: 1230px;
    height: 96px;
    border-radius: 16px;
    margin: 20px;
    padding: 20px;
    background: #FFFFFF;
}

.cohort-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jan {
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #111511;
}

.reg {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #CE1312;
}

.jany {
    font-family: "Manrope";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
}

.cohort-btn a {
    width: 231px;
    height: 48px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 4px;
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    background: #104911;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFCFA;
}

.box-scroll-area {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 4px;
}

.box-scroll-area::-webkit-scrollbar {
    width: 12px;
}


.box-scroll-area::-webkit-scrollbar-track {
    background: #FAFCFAF9;
    border-radius: 8px;
}


.box-scroll-area::-webkit-scrollbar-thumb {
    background: #5F8560;
    border-radius: 8px;
    height: 5px;
}


.box-scroll-area::-webkit-scrollbar-thumb:hover {
    background: #4a6b4b;
}


.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 24px;
}

.ux,
.projma,
.digital-mark,
.virtual,
.graphics,
.advanced {
    flex: 0 0 calc(50% - 20px);
    height: 442px;
    border-radius: 16px;
    border-width: 0.3px;
    padding: 20px;
    background: #fff;
    border: 0.3px solid #EAEBEA;
}

.ux-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ux-container-boot {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.web-ux-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.week {
    width: 138px;
    height: 35px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 9999px;
    background: #FFFAEBE0;
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #695515;
}

.week1 {
    width: 81px;
    height: 35px;
    gap: 10px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 9999px;
    background: #FFEBEBE0;
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #CE1312;
    margin-left: auto;
}

.design {
    display: flex;
    gap: 8px;
    border-bottom: 0.5px solid #EAEBEA;
}

.design-boot,
.web-design {
    border-bottom: 0.5px solid #EAEBEA;
}

.design-fund {
    display: flex;
    gap: 8px;
}

.dline11 {
    width: 20px;
    height: 173px;
    background: #FACB33;
}

.dline12 {
    width: 20px;
    height: 173px;
    background: #A8D5E2;
}

.dline13 {
    width: 20px;
    height: 173px;
    background: #4EC002;
}

.dline2 {
    width: 540px;
    height: 10px;
    background: #FACB33;
}


.dline3 {
    width: 540px;
    height: 10px;
    background: #A8D5E2;
}

.dline4 {
    width: 540px;
    height: 10px;
    background: #4EC002;
    margin-top: 5px;
}

.line {
    width: 540px;
    height: 1px;
    background: #EAEBEA;
    margin-top: 20px;
}

.design-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.design-text-boot {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.web-design-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.web-design-text h2 {
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0%;
    color: #606260;
    margin-top: 20px;
    white-space: nowrap;
}

.design-text h2 {
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #606260;
    margin-top: 13px;
}

.design-text-boot h2 {
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #606260;
    margin-top: 53px;
}

.design-text-advp h2 {
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #606260;
    margin-top: 5px;
}


.more p {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #606260;
}

.more a {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #0F420F;
    margin-left: 5px;

}

.level-flex {
    display: flex;
    justify-content: space-between;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    margin-top: 10px;
}

.level {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.beginnr {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #606260;
}

.eight-wks {
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #606260;
}

.duration {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #606260;
}

.amount p {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #606260;
    margin-top: 5px;
}

.ratings p {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #606260;
}

.level-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


.nxt {
    width: 258px;
    height: 48px;
    padding: 12px 50px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #406D41;
    background: transparent;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #0F420F;
    white-space: nowrap;
}


.enroll a {
    width: 258px;
    height: 48px;
    padding: 12px 80px;
    border-radius: 4px;
    background: #104911;
    cursor: pointer;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFCFA;
}

.enroll a img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.adv-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 48px;
    width: 100%;
    text-decoration: none;
    color: #FAFCFA;
    border-radius: 4px;
    background: #104911;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFCFA;
    margin-top: 20px;
}

.web-ux {
    width: 590px;
    height: 749px;
    border-radius: 16px;
    border-width: 0.3px;
    padding: 30px;
    border: 0.3px solid #EAEBEA;
    background: #FFFFFF;
}

.webinar {
    width: 534px;
    height: 347px;
}

.level-container{
    margin-top: 18px;
}






/* Mobile */
@media (max-width: 850px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-left h1 {
        font-size: 2rem;
    }

    .hero-right img {
        width: 85%;
        margin: 0 auto;
    }
}