.payment-overlay {
    position: fixed;
    inset: 0;
    background: #FFFFFF80;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.payment-box {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D5D6D5;
    width: 581px;
    height: 370px;
    border-radius: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 56px;
    padding-left: 40px;
    border-width: 1px;
    box-shadow: 0px 2px 50px 7px #0B280B14;
    top: 173px;
    left: 393px;
}

.close-modal{
    display: flex;
    gap: 485px;
}

.close-modal img {
    cursor: pointer;
}


.success-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.succ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.succ h2 {
    font-family: "Arima";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #555555;
}