.jth-hero{
    background: #F6FCF2;
    height: 700px;
    padding: 40px;
    margin-top: 100px;
}

.jth-hero-container{
    display: flex;
    align-items: center;
}

.jth-content h2{
    font-family: "Arima";
    font-weight: 500;
    font-style: Medium;
    font-size: 68px;
    line-height: 90px;
    letter-spacing: 0%;
    color: #555555;
    width: 574px;
}

.jth-content p{
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #333333;
    margin-top: 10px;
}

.hub-wrapper{
    margin-top: 40px;
}

.jth-image img{
    width: 797px;
    height: 653px;
}

.hub-welcome{
    background: #F6FBFC;
    height: 858px;
    padding: 40px;
}

.hub-welcome-content h4{
    font-family: "Arima";
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0%;
    color: #606260;
}

.hub-welcome-content span{
    font-family: "Arima";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.hub-welcome-content p{
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #111511;
    width: 625px;
    margin-top: 15px;
}

.hub-cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  margin-top: 60px;
  width: 100%;
  max-width: 1500px;
  margin-inline: auto;
  box-sizing: border-box;
  padding-left: 6px; 
  padding-right: 20px;
}

.hub-cards-one,
.hub-cards-two,
.hub-cards-three {
    grid-column: span 2;
    width: 410px; 
    height: 189px;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    gap: 96px;
    opacity: 1;
    border-width: 0.5px;
    background: #FFFFFF;
}


.hub-cards-four,
.hub-cards-five,
.hub-cards-six {
  width: 100%; 
  grid-column: span 2; 
  height: 189px;
  opacity: 1;
  border-radius: 8px;
  border-width: 0.5px;
  padding: 24px;
  box-sizing: border-box;
  background: #FFFFFF;
}



.hub-cards-container h4{
    font-family: "Arima";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #424342;
    white-space: nowrap;
    margin-top: 20px;
}



.hub-cards-container .hub-paragraph{
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #111511;
    margin-top: 30px;
}

.way{
    background: #F6FCF2F9;
    height: 1168px;
    padding: 40px;
}

.way-content h2{
    font-family: "Arima";
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #606260;
}

.way-content-paragraph{
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #111511;
    margin-top: 20px;
}

.way-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

.way-flex-left,
.way-flex-right{
    width: 630px;
    height: 841px;
    border-radius: 8px;
    border-width: 0.5px;
    padding-top: 64px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    position: relative;
}

.first-paragraph{
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #111511;
    text-align: center;
    margin-top: 20px;
}

.way-naira,
.way-top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.naira{
    font-family: "Arima";
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: #111511;
}

.zero{
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0%;
}

.billed{
    font-family: "Manrope";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414441;
}

.way-content-btn{
    margin-top: 30px;
}

.way-content-btn a{
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 560px;
    height: 48px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 230px;
    padding-bottom: 12px;
    padding-inline:230px;
    background: #104911;
    color: #FAFCFA;
    cursor: pointer;
}

.billed-right{
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #111511;
    margin-top: 15px;
}

.way-tick-container{
    margin-top: 50px;
}

.way-tick{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.way-tick p{
    font-family: "Manrope";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4C4848;
}

.sign{
    position: absolute;
    top: -40px;
    left: 150px;
}

.stress{
    background: #071F07;
    height: 400px;
    padding: 40px;
}

.stress-container{
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  gap: 30px;
}

.stress-content h2{
    font-family: "Arima";
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #C4C5C4;
}

.stress-content p{
    font-family: "Manrope";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #D7D7D7;
    margin-top: 10px;
}

.stress-content{
    margin-top: 60px;
}

.stress-btn-join{
    width: 142px;
    height: 48px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: #FACB33;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #111511;
}

.stress-btn-explore{
    margin-left: 50px;
    width: 241px;
    height: 50px;
    border-radius: 4px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border: 1px solid #FACB33;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FACB33;
}



@media screen and (min-width:912px) and (max-width:1024px)  {
    .jth-hero{
        padding: 30px;
    }
    .jth-content h2{
        font-size: 48px;
    }

    .jth-content p{
        font-size: 16px;
        width: 380px;
    }

    .jth-image img{
        width: 560px;
        margin-left: -90px;
    }

    .hub-welcome{
        height: 1060px;
    }

    .hub-cards-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 18px;
    }

    .hub-cards-one,
    .hub-cards-two,
    .hub-cards-three,
    .hub-cards-four,
    .hub-cards-five{
        width: 462px;
    }

    .way{
        height: 1290px;
    }

    .way-flex-container{
        margin-top: 90px;
        display: flex;
        align-items: stretch;
        gap: 15px;
    }

    .way-flex-left,
    .way-flex-right{
        width: 500px;
    }

    .way-flex-left{
        height: 680px;
    }

    .way-flex-right{
        height: 960px;
    }

    .way-content-btn a{
        padding-inline: 120px;
        margin-left: 40px;
    }

    .sign{
        left: 80px;
    }


}

@media screen and (max-width: 430px){
    .jth-hero{
        height: 853px;
        padding: 20px;
        margin-top: 70px;
        background: #FFFCF5F9;
    }

    .jth-hero-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .jth-image img{
        width: 500px;
        height: 530px;
    }

    .jth-content h2{
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 56px;
        color: #606260;
        width: 397px;
        padding: 20px;
        margin-top:-60px;
    }

    .jth-content p{
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 22px;
        color: #111511;
        padding: 20px;
        margin-top:-30px;
    }

    .hub-wrapper{
        margin-top: -20px;
        padding: 20px;
    }

    .hub-wrapper a{
        width: 100%; 
        height: 44px;
        max-width: 710px; 
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        border-radius: 4px;
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #FAFCFA;
    }

    .hub-welcome{
        height: 1410px;
        padding: 28px;
    }

    .hub-welcome-content h4{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 40px;
        color: #606260;
        margin-top: 20px;
        width: 380px;
    }

    .hub-welcome-content span{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 26px;
        line-height: 40px;
        color: #606260;
    }

    .hub-welcome-content p{
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 15px;
        line-height: 24px;
        width: 375px;
    }

    .hub-cards-container{
        padding-left: 0px;
    }

    .hub-cards-one,
    .hub-cards-two,
    .hub-cards-three,
    .hub-cards-four,
    .hub-cards-five,
    .hub-cards-six{
        grid-column: span 6;
        max-width: 370px;
        height: 160px;
        border-radius: 4px;
        border-width: 1px;
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
    }

    .hub-cards-container h4{
        font-size: 24px;
        line-height: 32px;
        color: #414441;
        margin-top: 10px;
    }

    .hub-cards-container .hub-paragraph{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin-top: 20px;
        color: #414441;
    }

    .way{
        height: 1643px;
        padding: 29px;
    }

    .way-content h2{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        margin-top: 15px;
    }

    .way-content-paragraph{
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        margin-top: 10px;
    }

    .way-flex-container{
        flex-direction: column;
    }

    .way-flex-left,
    .way-flex-right{
        width: 383px;
    }

    .way-flex-left{
        height: 550px;
    }

    .way-flex-right{
        height: 805px;
    }

    .first-paragraph{
        font-size: 20px;
    }

    .naira{
        font-size: 32px;
        line-height: 22px;
        letter-spacing: 0%;
    }

    .zero{
        font-size: 56px;
        line-height: 31px;
    }

    .way-content-btn a{
        width: 100%;
        max-width: 374px;
        border-radius: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-inline: 109px;
        font-size: 14px;
        line-height: 22px;
    }

    .way-tick img{
        width: 16px;
        height: 16px;

    }

    .way-tick p{
        font-size: 14px;
    }

    .sign{
        width: 190px;
        height: 49px;
        top: -15px;
        left: 80px;
    }

    .stress{
        height: 353px;
        padding: 20px;
        width: 100%;
    }

    .stress-content h2{
        font-size: 32px;
        line-height: 40px;
    }

    .stress-content p{
        font-size: 16px;
        line-height: 25px;
        color: #F0F0F0;
    }

    .stress-btn-join{
        width: 178px;
        padding-top: 12px;
        padding-right: 18px;
        padding-bottom: 12px;
        padding-left: 18px;
    }

    .stress-btn-explore{
        width: 178px;
        height: 40px;
        border-radius: 4px;
        border-width: 1px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 14px;
        margin-left: 10px;
    }

    .stress-btn{
         margin-top: 20px;
    }
}

@media screen and (max-width: 414px){
    .jth-hero{
        height: 853px;
        padding: 20px;
        margin-top: 70px;
        background: #FFFCF5F9;
    }

    .jth-hero-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .jth-image img{
        width: 500px;
        height: 530px;
    }

    .jth-content h2{
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 56px;
        color: #606260;
        width: 397px;
        padding: 20px;
        margin-top:-60px;
    }

    .jth-content p{
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 22px;
        color: #111511;
        padding: 20px;
        margin-top:-30px;
    }

    .hub-wrapper{
        margin-top: -20px;
        padding: 20px;
    }

    .hub-wrapper a{
        width: 100%; 
        height: 44px;
        max-width: 710px; 
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        border-radius: 4px;
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #FAFCFA;
    }

    .hub-welcome{
        height: 1410px;
        padding: 22px;
    }

    .hub-welcome-content h4{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 40px;
        color: #606260;
        margin-top: 20px;
        width: 380px;
    }

    .hub-welcome-content span{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 26px;
        line-height: 40px;
        color: #606260;
    }

    .hub-welcome-content p{
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 15px;
        line-height: 24px;
        width: 375px;
    }

    .hub-cards-container{
        padding-left: 0px;
    }

    .hub-cards-one,
    .hub-cards-two,
    .hub-cards-three,
    .hub-cards-four,
    .hub-cards-five,
    .hub-cards-six{
        grid-column: span 6;
        max-width: 360px;
        height: 160px;
        border-radius: 4px;
        border-width: 1px;
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
    }

    .hub-cards-container h4{
        font-size: 24px;
        line-height: 32px;
        color: #414441;
        margin-top: 10px;
    }

    .hub-cards-container .hub-paragraph{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin-top: 20px;
        color: #414441;
    }

    .way{
        height: 1643px;
        padding: 25px;
    }

    .way-content h2{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        margin-top: 15px;
    }

    .way-content-paragraph{
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        margin-top: 10px;
    }

    .way-flex-container{
        flex-direction: column;
    }

    .way-flex-left,
    .way-flex-right{
        width: 363px;
    }

    .way-flex-left{
        height: 550px;
    }

    .way-flex-right{
        height: 805px;
    }

    .first-paragraph{
        font-size: 20px;
    }

    .naira{
        font-size: 32px;
        line-height: 22px;
        letter-spacing: 0%;
    }

    .zero{
        font-size: 56px;
        line-height: 31px;
    }

    .way-content-btn a{
        width: 100%;
        max-width: 374px;
        border-radius: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-inline: 109px;
        font-size: 14px;
        line-height: 22px;
    }

    .way-tick img{
        width: 16px;
        height: 16px;

    }

    .way-tick p{
        font-size: 14px;
    }

    .sign{
        width: 190px;
        height: 49px;
        top: -15px;
        left: 80px;
    }

    .stress{
        height: 353px;
        padding: 20px;
        width: 100%;
    }

    .stress-content h2{
        font-size: 32px;
        line-height: 40px;
    }

    .stress-content p{
        font-size: 16px;
        line-height: 25px;
        color: #F0F0F0;
    }

    .stress-btn-join{
        width: 178px;
        padding-top: 12px;
        padding-right: 18px;
        padding-bottom: 12px;
        padding-left: 18px;
    }

    .stress-btn-explore{
        width: 178px;
        height: 40px;
        border-radius: 4px;
        border-width: 1px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 14px;
        margin-left: 10px;
    }

    .stress-btn{
         margin-top: 20px;
    }
}

@media screen and (max-width: 375px){
    .jth-hero{
        height: 853px;
        padding: 20px;
        margin-top: 70px;
        background: #FFFCF5F9;
    }

    .jth-hero-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .jth-image img{
        width: 496px;
        height: 530px;
    }

    .jth-content h2{
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 56px;
        color: #606260;
        width: 397px;
        padding: 20px;
        margin-top:-60px;
    }

    .jth-content p{
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 22px;
        color: #111511;
        padding: 20px;
        margin-top:-30px;
    }

    .hub-wrapper{
        margin-top: -20px;
        padding: 20px;
    }

    .hub-wrapper a{
        width: 100%; 
        height: 44px;
        max-width: 710px; 
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        border-radius: 4px;
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #FAFCFA;
    }

    .hub-welcome{
        height: 1410px;
        padding: 14px;
    }

    .hub-welcome-content h4{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 40px;
        color: #606260;
        margin-top: 20px;
        width: 380px;
    }

    .hub-welcome-content span{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 26px;
        line-height: 40px;
        color: #606260;
    }

    .hub-welcome-content p{
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 15px;
        line-height: 24px;
        width: 375px;
    }

    .hub-cards-container{
        padding-left: 0px;
    }

    .hub-cards-one,
    .hub-cards-two,
    .hub-cards-three,
    .hub-cards-four,
    .hub-cards-five,
    .hub-cards-six{
        grid-column: span 6;
        max-width: 350px;
        height: 160px;
        border-radius: 4px;
        border-width: 1px;
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
    }

    .hub-cards-container h4{
        font-size: 24px;
        line-height: 32px;
        color: #414441;
        margin-top: 10px;
    }

    .hub-cards-container .hub-paragraph{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin-top: 20px;
        color: #414441;
    }

    .way{
        height: 1643px;
        padding: 20px;
    }

    .way-content h2{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        margin-top: 15px;
    }

    .way-content-paragraph{
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        margin-top: 10px;
    }

    .way-flex-container{
        flex-direction: column;
    }

    .way-flex-left,
    .way-flex-right{
        width: 358px;
    }

    .way-flex-left{
        height: 550px;
    }

    .way-flex-right{
        height: 805px;
    }

    .first-paragraph{
        font-size: 20px;
    }

    .naira{
        font-size: 32px;
        line-height: 22px;
        letter-spacing: 0%;
    }

    .zero{
        font-size: 56px;
        line-height: 31px;
    }

    .way-content-btn a{
        width: 100%;
        max-width: 374px;
        border-radius: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-inline: 109px;
        font-size: 14px;
        line-height: 22px;
    }

    .way-tick img{
        width: 16px;
        height: 16px;

    }

    .way-tick p{
        font-size: 14px;
    }

    .sign{
        width: 190px;
        height: 49px;
        top: -15px;
        left: 80px;
    }

    .stress{
        height: 353px;
        padding: 20px;
        width: 100%;
    }

    .stress-content h2{
        font-size: 32px;
        line-height: 40px;
    }

    .stress-content p{
        font-size: 16px;
        line-height: 25px;
        color: #F0F0F0;
    }

    .stress-btn-join{
        width: 178px;
        padding-top: 12px;
        padding-right: 18px;
        padding-bottom: 12px;
        padding-left: 18px;
    }

    .stress-btn-explore{
        width: 178px;
        height: 40px;
        border-radius: 4px;
        border-width: 1px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 14px;
        margin-left: 10px;
    }

    .stress-btn{
         margin-top: 20px;
    }
}

@media screen and (max-width: 360px){
    .jth-hero{
        height: 903px;
        padding: 20px;
        margin-top: 70px;
        background: #FFFCF5F9;
    }

    .jth-hero-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .jth-image img{
        width: 466px;
        height: 530px;
    }

    .jth-content h2{
        font-weight: 400;
        font-style: normal;
        font-size: 42px;
        line-height: 40px;
        color: #606260;
        width: 414px;
        padding: 40px;
        margin-top:-40px;
    }

    .jth-content p{
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 22px;
        color: #111511;
        padding: 40px;
        margin-top:-10px;
    }

    .hub-wrapper{
        margin-top: -10px;
        padding: 40px;
    }

    .hub-wrapper a{
        width: 100%; 
        height: 44px;
        max-width: 710px; 
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        border-radius: 4px;
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #FAFCFA;
    }

    .hub-welcome{
        height: 1410px;
        padding: 14px;
    }

    .hub-welcome-content h4{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 40px;
        color: #606260;
        margin-top: 20px;
        width: 380px;
    }

    .hub-welcome-content span{
        font-family: "Manrope";
        font-weight: 400;
        font-style: normal;
        font-size: 26px;
        line-height: 40px;
        color: #606260;
    }

    .hub-welcome-content p{
        font-family: "Manrope";
        font-weight: 500;
        font-style: Medium;
        font-size: 15px;
        line-height: 24px;
        width: 335px;
    }

    .hub-cards-container{
        padding-left: 0px;
    }

    .hub-cards-one,
    .hub-cards-two,
    .hub-cards-three,
    .hub-cards-four,
    .hub-cards-five,
    .hub-cards-six{
        grid-column: span 6;
        max-width: 330px;
        height: 160px;
        border-radius: 4px;
        border-width: 1px;
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
    }

    .hub-cards-container h4{
        font-size: 20px;
        line-height: 32px;
        color: #414441;
        margin-top: 10px;
    }

    .hub-cards-container .hub-paragraph{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin-top: 20px;
        color: #414441;
    }

    .way{
        height: 1643px;
        padding: 20px;
    }

    .way-content h2{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        margin-top: 15px;
    }

    .way-content-paragraph{
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        margin-top: 10px;
    }

    .way-flex-container{
        flex-direction: column;
    }

    .way-flex-left,
    .way-flex-right{
        width: 345px;
    }

    .way-flex-left{
        height: 550px;
    }

    .way-flex-right{
        height: 805px;
    }

    .first-paragraph{
        font-size: 20px;
    }

    .naira{
        font-size: 32px;
        line-height: 22px;
        letter-spacing: 0%;
    }

    .zero{
        font-size: 56px;
        line-height: 31px;
    }

    .way-content-btn a{
        width: 100%;
        max-width: 374px;
        border-radius: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-inline: 106px;
        font-size: 14px;
        line-height: 22px;
    }

    .way-tick img{
        width: 16px;
        height: 16px;

    }

    .way-tick p{
        font-size: 14px;
    }

    .sign{
        width: 190px;
        height: 49px;
        top: -15px;
        left: 80px;
    }

    .stress{
        height: 353px;
        padding: 20px;
        width: 100%;
    }

    .stress-content h2{
        font-size: 32px;
        line-height: 40px;
    }

    .stress-content p{
        font-size: 16px;
        line-height: 25px;
        color: #F0F0F0;
    }

    .stress-btn-join{
        width: 148px;
        padding-top: 12px;
        padding-right: 18px;
        padding-bottom: 12px;
        padding-left: 18px;
        font-size: 12px;
    }

    .stress-btn-explore{
        width: 128px;
        height: 40px;
        border-radius: 4px;
        border-width: 1px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 12px;
        margin-left: 10px;
    }

    .stress-btn{
         margin-top: 20px;
    }
}