.modal-overlay {
    position: fixed;
    inset: 0;
    background: #EFEFEFA6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.modal-box {
    width: 652px;
    height: 505px;
    border-radius: 32px;
    border-width: 1px;
    padding: 16px;
    top: 57px;
    left: 33px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D5D6D5
}

.close-modal img {
    cursor: pointer;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    border-bottom: 1px solid #F5F6F5
}

.top-container h2 {
    font-family: "Arima";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #606260;
}

.modal-content {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wire {
    width: 422px;
    height: 140px;
    margin-inline: auto;
}

.modal-content p {
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #606260;
}

.modal-content ul {
    list-style: none;
}

.modal-content li {
    font-family: "Manrope";
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #111511;
    padding-block: 3px;
}

.modal-dots {
    width: 10px;
    height: 10px;
    padding-right: 2px;
}

.modal-btn {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}

.modal-join {
    width: 50%;
    height: 40px;
    padding-inline: 80px;
    padding-block: 8px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #406D41;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #104911;
}

.modal-enroll {
    width: 50%;
    height: 40px;
    padding-inline: 90px;
    border-radius: 4px;
    background: #104911;
    font-family: "Manrope";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFCFA;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:768px) {
    .modal-box {
        width: 360px;
        height: 760px;
        top: 40px;
        left: 0px;
        border-radius: 16px;
        border-width: 1px;
        padding: 20px;
    }

    .top-container {
        padding-top: 16px;
        padding-right: 8px;
        padding-bottom: 16px;
        padding-left: 8px;
    }

    .top-container h2 {
        font-size: 20px;
    }

    .close-modal img {
        width: 24px;
        height: 24px;
    }

    .modal-content {
        gap: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .wire {
        width: 225px;
        height: 144px;
    }

    .modal-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .modal-content ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .modal-join {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 22px;
    }

    .modal-enroll {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:430px) {
    .modal-box {
        width: 360px;
        height: 750px;
        top: 40px;
        left: 0px;
        border-radius: 16px;
        border-width: 1px;
        padding: 20px;
    }

    .top-container {
        padding-top: 16px;
        padding-right: 8px;
        padding-bottom: 16px;
        padding-left: 8px;
    }

    .top-container h2 {
        font-size: 20px;
    }

    .close-modal img {
        width: 24px;
        height: 24px;
    }

    .modal-content {
        gap: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .wire {
        width: 225px;
        height: 144px;
    }

    .modal-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .modal-content ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .modal-join {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 22px;
    }

    .modal-enroll {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:390px) {
    .modal-box {
        width: 340px;
        height: 570px;
        top: 30px;
        left: 0px;
        border-radius: 16px;
        border-width: 1px;
        padding: 20px;
    }

    .top-container{
        padding-top: 10px;
        padding-right: 8px;
        padding-bottom: 10px;
        padding-left: 8px;
    }

    .top-container h2 {
        font-size: 18px;
    }

    .close-modal img {
        width: 24px;
        height: 24px;
    }

    .modal-content {
        gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

     .wire {
        width: 225px;
        height: 120px;
    }

    .modal-content p {
        font-size: 14px;
        line-height: 16px;
    }

    .modal-content ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-join {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 22px;
    }

    .modal-enroll {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:375px) {
    .modal-box {
        width: 340px;
        height: 570px;
        top: 30px;
        left: 0px;
        border-radius: 16px;
        border-width: 1px;
        padding: 20px;
    }

    .top-container{
        padding-top: 10px;
        padding-right: 8px;
        padding-bottom: 10px;
        padding-left: 8px;
    }

    .top-container h2 {
        font-size: 18px;
    }

    .close-modal img {
        width: 24px;
        height: 24px;
    }

    .modal-content {
        gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

     .wire {
        width: 225px;
        height: 120px;
    }

    .modal-content p {
        font-size: 14px;
        line-height: 16px;
    }

    .modal-content ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-join {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 22px;
    }

    .modal-enroll {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:360px) {
    .modal-box {
        width: 340px;
        height: 590px;
        top: 38px;
        left: 0px;
        border-radius: 16px;
        border-width: 1px;
        padding: 20px;
    }

    .modal-content {
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .modal-content ul {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .modal-join {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 22px;
    }

    .modal-enroll {
        width: 164px;
        height: 48px;
        max-height: 48px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 22px;
    }
}